{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Smart Grow</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  {% block content %}
    <h1>Welcome to Smart Grow</h1>
    <p>This is the home page for Smart Grow. Use the links below to navigate to different pages:</p>
    <ul>
      <li><a href="{% url 'smart_grow:kasa_devices' %}">Kasa Devices List</a></li>
      <li><a href="{% url 'smart_grow:device_info' %}">Device Information</a></li>
      <li><a href="{% url 'smart_grow:climate_control_settings' %}">Data Table</a></li>
    </ul>
  {% endblock %}
</body>
</html>
